<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>入库单</h1>
        {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <form action="/add_stock_bill/" method="POST" >
        {% csrf_token %}
        <p>入库单编号: <input type="text" name="stockBillCode"></p>
        <p>入库时间: <input type="text" name="stockDate"></p>
        <p>入库员: <input type="text" name="operator"></p>
        <p>物料Id: <input type="text" name="itemId"></p>
        <p>数量: <input type="text" name="amount"></p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>